//----------------------------------------------------------------------------------------------------------------------
// Sizes
//----------------------------------------------------------------------------------------------------------------------

$container-spacing: 15px;
$navbar-height: 60px;
$card-border-radius: 20px;

//----------------------------------------------------------------------------------------------------------------------
// Light theme
//----------------------------------------------------------------------------------------------------------------------

$primary: #00c49aff;
$secondary: #fff;
$color3: #80ff72ff;
$color6: #ff3366ff;
$color2: #dadff7ff;
$color4: #fed766ff;
$color5: #343e3dff;

// Background
$background: #f5f7fb;
$background-lighter: white;
$background-darker: darken($background-lighter, 8);

// Typography
$text-on-primary: white;
$text-on-bg: #625f71;

//----------------------------------------------------------------------------------------------------------------------
// Mixins
//----------------------------------------------------------------------------------------------------------------------

// include box-shadow property (optional $showRight parameter)
@mixin shadow($showRight: false) {
  $shadow: if($showRight, 15px, 0) 2px 15px -1px #00000015;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Circular avatar properties with default size of 45px
@mixin circular-avatar($size: 45px) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin overflow($axis) {
  @if $axis == y {
    overflow-y: scroll;
    overflow-x: hidden;
  } @else {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
