//----------------------------------------------------------------------------------------------------------------------
// SIZES                                                          (s prefix to indicate sizes — autocompletion purposes)
//----------------------------------------------------------------------------------------------------------------------

// General components
$s-container-spacing: 15px;
$s-header-height: 60px;
$s-sidebar-min-width: 230px;
$s-row-col-spacing: 30px;
$s-room-video-min-width: 600px;

// Header
$s-header-items-spacing: 20px;
$s-badge: 15px;

// Cards
$s-card-container-spacing: 25px;
$s-card-border-radius: 20px;

// Online status ball
$s-statusBall: 14px;

// RoomContent poster height
$s-poster-image-height: 120px;

// Chat
$s-message-list-container-spacing: 15px;

// Message bubbles
$s-bubble-first-last-radius: 16px;
$s-bubble-radius: 6px;
$s-message-spacing: 2px;
$s-message-block-spacing: $s-message-spacing * 4; /* the series of consequent messages from a single sender */

//----------------------------------------------------------------------------------------------------------------------
// THEMING                                                      (c prefix to indicate colours — autocompletion purposes)
//----------------------------------------------------------------------------------------------------------------------

@import "themes/light-default";

:root {
  // Main colours
  --c-primary: #{$primary};
  --c-primary-lighter: #{$primary-lighter};
  --c-secondary: #{$secondary};
  --c-accent: #{$accent};

  // Background
  --c-background: #{$background};
  --c-background-lighter: #{$background-lighter};
  --c-background-darker: #{$background-darker};

  // Typography
  --c-text-on-primary: #{$text-on-primary};
  --c-text-on-bg: #{$text-on-bg};
  --c-title-on-bg: #{$title-on-bg};

  // Contextual colours
  --c-success: #{$success};
  --c-info: #{$info};
  --c-warning: #{$warning};
  --c-danger: #{$danger};

  // Specific components
  --c-header-color: #{$header-color};
  --c-room-tile-hover: #{$room-tile-hover};
  --c-bubble-sender-color: #{$bubble-sender-color};
  --c-bubble-recipient-color: #{$bubble-recipient-color};
}

// Importing other themes


//----------------------------------------------------------------------------------------------------------------------
// COMMON RULES AND MIXINS
//----------------------------------------------------------------------------------------------------------------------

// Ellipsis text (suspension points...)
%text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// include box-shadow property (optional $showRight parameter)
@mixin shadow($showRight: false) {
  $shadow: if($showRight, 15px, 0) 2px 15px -1px #00000015;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Circular avatar properties with default size of 45px
@mixin circular-avatar($size: 45px) {
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
  border-radius: 50%;
}

// Type of overflow with a required $axis parameter
@mixin overflow($axis) {
  @if $axis == y {
    overflow-y: auto;
    overflow-x: hidden;
  } @else if $axis == x {
    overflow-y: hidden;
    overflow-x: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

// Message bubble border-radius styling
@mixin bubble-borders($who) {
  $direction: if($who == sender, right, left);

  // First child if it's NOT the only child present
  &:first-child:not(:only-child) {
    border-top-#{$direction}-radius: $s-bubble-first-last-radius;
    border-bottom-#{$direction}-radius: $s-bubble-radius;
  }

  // Child(ren) between the first and last element (messages in the middle)
  &:not(:first-child):not(:last-child) {
    border-top-#{$direction}-radius: $s-bubble-radius;
    border-bottom-#{$direction}-radius: $s-bubble-radius;
  }

  // Last child if it's NOT the only child present
  &:last-child:not(:only-child) {
    border-bottom-#{$direction}-radius: $s-bubble-first-last-radius;
    border-top-#{$direction}-radius: $s-bubble-radius;
  }
}
