//----------------------------------------------------------------------------------------------------------------------
// Light theme
//----------------------------------------------------------------------------------------------------------------------

$primary: #00c49aff;
$secondary: #FFF;
$color3: #80ff72ff;
$color6: #ff3366ff;
$color2: #dadff7ff;
$color4: #fed766ff;
$color5: #343e3dff;

$background: #F5F7FB;
$background-lighter: white;

// Typography
$text-on-primary: white;
$text-on-bg: black;

// Shadow
$light-theme-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
