@import url("https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&family=Noto+Sans+JP&display=swap");

//----------------------------------------------------------------------------------------------------------------------
// PLAIN HTML
//----------------------------------------------------------------------------------------------------------------------

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: var(--c-background);
  color: var(--c-text-on-bg);
}

input {
  font-size: 11pt;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

label {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c-title-on-bg);
}

//----------------------------------------------------------------------------------------------------------------------
// CUSTOM CLASSES
//----------------------------------------------------------------------------------------------------------------------

.container {
  padding: $s-container-spacing;
}

.container-x {
  padding: 0 $s-container-spacing;
}

.container-y {
  padding: $s-container-spacing 0;
}

input.text-field, textarea.text-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

.row {
  > *:not(:first-of-type) {
    margin-top: $s-row-col-spacing;
  }
}

.col {
  > *:not(:last-of-type) {
    margin-right: $s-row-col-spacing;
  }
}
