@import url("https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&family=Noto+Sans+JP&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $text-on-bg;
}

input {
  font-size: 11pt;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.container {
  padding: $container-spacing;
}

.container-x {
  padding: 0 $container-spacing;
}

.container-y {
  padding: $container-spacing 0;
}

label {
  width: 100%;
}

input.text-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

.card {
  @include shadow();
  border-radius: $card-border-radius;
  background-color: $background-lighter;
}
