// Main colours
$primary: #00c49aff;
$primary-lighter: lighten($primary, 4);
$secondary: darken($primary, 4);
$accent: #ff3366ff;

// Background
$background: #f5f7fb;
$background-lighter: white;
$background-darker: darken($background-lighter, 8);

// Typography
$text-on-primary: white;
$text-on-bg: #625f71;
$title-on-bg: darken($text-on-bg, 15);

// Input
$input-on-bg: white;

$success: #fff;
$info: #fff;
$warning: #fff;
$danger: #fff;

$sidebar-color: $primary;
$header-color: $background-lighter;
$room-tile-hover: lighten($primary, 2);
$room-tile-selected: $secondary;
$bubble-sender-color: $primary;
$bubble-recipient-color: #343e3dff;
$send-message-bg: $background-lighter;
