// Main colours
$primary: #00c49aff;
$primary-lighter: lighten($primary, 4);
$primary-darker: darken($primary, 4);
$secondary: $primary-darker;
$accent: #FB3640;

// Background
$background: #f7fcff;
$background-lighter: white;
$background-darker: darken($background-lighter, 8);

// Typography
$text-on-primary: white;
$text-on-bg: #625f71;
$title-on-bg: darken($text-on-bg, 15);

// Input
$input-on-bg: white;

// Contextual colours
$success: #fff;
$info: #fff;
$warning: #fff;
$danger: #fff;

// Specific components
$sidebar-color: $primary;
$header-color: $background-lighter;
$room-tile-hover: lighten($primary, 2);
$room-tile-selected: $secondary;
$bubble-sender-color: $primary;
$bubble-recipient-color: #7D8491;
$send-message-bg: $background-lighter;
