@import "~nord/src/sass/nord";

[theme="nord"] {
  $nord0-darker: #242932;

  // Main colours
  --c-primary: #{$nord10};
  --c-primary-lighter: #{$nord9};
  --c-primary-darker: var(--c-primary);
  --c-secondary: #{$nord15};
  --c-accent: #{$nord11};

  // Background
  --c-background: #{$nord0};
  --c-background-lighter: #{$nord1};
  --c-background-darker: #{darken($nord1, 4)};

  // Typography
  --c-text-on-primary: #{$nord4};
  --c-text-on-bg: #{$nord6};
  --c-title-on-bg: #{$nord4};

  // Input
  --c-input-on-bg: var(--c-background-lighter);
  --c-input-on-primary: var(--c-primary-lighter);

  // Contextual colours
  --c-success: #{$nord14};
  --c-info: #{$nord10};
  --c-warning: #{$nord12};
  --c-danger: #{$nord11};

  // Shadow colour
  --c-shadow-color: #00000025;

  // Specific components
  --c-sidebar: #{$nord0-darker};
  --c-sidebar-search: var(--c-background);
  --c-header: var(--c-sidebar);
  --c-room-tile-hover: #{lighten($nord0-darker, 4)};
  --c-selected-item: var(--c-primary);
  --c-bubble-sender: var(--c-primary);
  --c-bubble-recipient: #{$nord0};
  --c-send-message-bg: #{$nord1};
}
